:root {
	--main-span-color: #64ffda;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

span {
	color: #64ffda;
}

.text {
	font-size: 1.8em;
	color: #acacac;
	padding-bottom: 14rem;
}

.link {
	color: #64ffda;
}

body {
	font-size: 15px;
	font-family: 'Space Mono';
	color: #feffff;
	background: #1c1a1d;
}

header {
	display: flex;
  justify-content: space-between;
	padding: 25px 25px;
	position: sticky;
	top: 0;

	background: #1a1a1d;
}

.nav {
	display: flex;
	justify-content: flex-end;
}

.nav-items {
	list-style-type: none;
	display: inline-flex;
	align-items: center;
}

.nav-item {
	color: #feffff;
	background: #1a1a1d;
	text-decoration: none;
	margin: 0 25px;

	transition: 0.4s ease-in-out;
}

.nav-item:hover {
	color: #64ffda;
}

.home:hover {
	scale: 1.8 1.8;
}

.container {
	margin: 0 20%;
}
.title {
	font-size: 90px;
	padding-top: 1rem;
}

.start {
	padding-top: 8rem;
}

.start-sub-title {
	font-size: 20px;
}

.about,
.projects,
.github {
	padding-top: 10rem;
}

.about-title {
	font-size: 7em;
}

footer {
	display: block;
	text-align: center;
	padding: 30px 0;
}

@media screen and (max-device-width: 450px) {
	.nav {
		font-size: 40px;
		display: flex;
		justify-content: center;
	}

	body {
		font-size: 30px;
	}

	.start-sub-title {
		font-size: 40px;
	}

	.about-title {
		font-size: 14em;
	}
}
